    <footer id="site-footer">
        <div class="container">
            <img class="avatar" src="http://www.gravatar.com/avatar/0bceeea1c7179c102b50812a1d2c74c3.png" alt="Me" />
            <p>BabelFrog is a side-project of <a href="https://github.com/dergachev/">Alex Dergachev</a> who's currently using it to improve his French while living in Montreal, Quebec and running <a href="http://evolvingweb.ca">Evolving Web</a>, a Drupal consultancy.</p>
            <p><a href="http://github.com/dergachev">github</a> | <a href="http://twitter.com/dergachev">twitter</a> | <a href="https://www.linkedin.com/in/alexdergachev">linked.in</a></p>
        </div>
    </footer>

    <script type="text/javascript" src="{{ .Site.BaseURL }}js/fittext.js"></script>
    <script type="text/javascript">
      $(".heading").fitText();
    </script>